* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #333;
    line-height: 1.5em;
    font-size: 14px;
}

a {
    text-decoration: none
}

.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left
}

.u-text-right {
    text-align: right;
}

.col {
    position: relative;
    width: 100%;
    height: calc(100%);
    float: left
}
.social-share img {
    width: 35px;
    padding: 3px;
}