.panel {
    position: fixed;
    right: 0;
    top: 60px;
    width: 400px;
    overflow:scroll;
    height: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.panel_overview{
    padding: 20px 40px 40px;
}

.panel_title {
    padding: 20px 0 10px;
    font-size: 20px;
    line-height: 1.45em;
    font-weight: 500
}

.panel_banner {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden
}
