.panel {
    position: fixed;
    right: 50px;
    top: 90px;
    width: 500px;
    overflow:scroll;
    height: calc(100% - 200px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.panel_overview{
    padding: 40px;
}

.panel_title {
    padding: 0 0 20px;
    font-size: 20px;
    line-height: 1.45em;
    font-weight: 500
}

.panel_banner {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden
}
